h1 {
    font-size: 24pt;
    color: red;
    text-decoration: underline;
    font-family: Tahoma, Helvetica, sans-serif;
}

.centered {
    text-indent: 3mm;
    text-align: center;
    text-emphasis-color: red;
    text-emphasis-style: "*";
    text-shadow: 2px 2px yellow;
}

em {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.center-icon img {
    display: inline-block;
    margin: 0 auto;
}

.center-icon {
    text-align: center;
}

ol {
    border: thick solid purple;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 4ex;
    width: 50%;
    background-color: aquamarine;
}

table th {
    background-color: orange;
    color: black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}
.top-info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: red;
    font-weight: bold;
}
.big-icon {
    display: block;
    margin: 20px auto;
    width: 180px;
    height: auto;
}
.top-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.top-info strong {
    font-size: 26px;
    color: red;
}

.top-github {
    width: 130px;
    margin-left: 20px;
}
